<div class="head_top">
</div>

<!-- LOGO 标题 搜索 -->
<div class="head_top_two">
	<div class="top_two clearfix">
		<div class="two_left left">
			<a href="/pc_index" class="logo">
				<img src="__PC__/img/picture/l_logo.png" width="100%" height="61">
			</a>
			<div class="header-tit">
				<h3>汇聚全国紫砂艺术品</h3>
				<div id="noticev2">
					<ul>
						<li>源头直采 | 正品保障</li>
					</ul>
				</div>
			</div>
		</div>

		<form name="index_search" id="index_search" method="get" action="pc_search">
			<div class="two_right left">
				<div class="liebiao left">
					<ul id="liebi_list">
						<li id="liebi_list0"><a href="javascript:;" onclick="sltTabs(0);" class="active">作品</a></li>
						<li id="liebi_list1"><a href="javascript:;" onclick="sltTabs(1);">艺人</a></li>
					</ul>
				</div>

				<div class="right hide">
					<img src="__PC__/img/static/w_tel_ico.png" width="23" height="23"> 紫砂热线：<span>13524312680</span>
				</div>

				<div class="right">

				</div>
				<div class="both"></div>
				<div class="lieB_input clearfix">
					<div class="put left"><input type="search" name="search" id="kw" value="" placeholder="搜紫砂品类"></div>
					<div class="sousuo left">
						<!--                        <a href="javascript:;" onclick="index_search_submit();">搜索</a>-->
						<a href="javascript:;"><button data-v-87207564="" class="searchBtn" style="background-color: #a44323; color: #fff;">搜索</button></a>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>

<!-- https://new.6jmtr3u.cn -->
<script>
		(function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
		b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
		s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
		})(window,document,"script","_qha",341098,false);
</script>


<!--https://zsh.yuhao02.cn -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d2fbe240a5cf859a33356bb6f4985d13";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- https://www.mingyangshijie.cn/ -->
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?7743ccf0d423c0ec7333dd7881ced316";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
