<section data-v-2e2abbec="" class="bottom" style="height: auto;">
    <div class="van-hairline--top-bottom van-tabbar van-tabbar--fixed" style="z-index:100;" data-v-2e2abbec="">
        <div onclick="window.location.href='/'" class="van-tabbar-item" data-v-2e2abbec="">
            <div class="van-tabbar-item__icon"><i class="van-icon van-icon-wap-home">
            </i>

            </div>
            <div class="van-tabbar-item__text">首页</div>
        </div>
        <div onclick="window.location.href='classification'" class="van-tabbar-item" data-v-2e2abbec="">
            <div class="van-tabbar-item__icon"><i class="van-icon van-icon-bars">
            </i>

            </div>
            <div class="van-tabbar-item__text">分类</div>
        </div>
        <div class="van-tabbar-item consult" data-v-2e2abbec="">
            <div class="van-tabbar-item__icon"><img src="__INDEX__/img/msg.png" data-v-2e2abbec="">

            </div>
            <div class="van-tabbar-item__text"><span style="color:#D81E06;" data-v-2e2abbec="">咨询</span> </div>
        </div>
        <!-- <div class="van-tabbar-item" data-v-2e2abbec=""> -->
            <!-- <div class="van-tabbar-item__icon"><i class="van-icon van-icon-eye"> -->
            <!-- </i> -->

            <!-- </div> -->
            <!-- <div class="van-tabbar-item__text">发现</div> -->
        <!-- </div> -->
        <a  class="van-tabbar-item" data-v-2e2abbec="" href="">
				<div class="van-tabbar-item__icon" style="color: #00C951;">
				<i class="van-icon van-icon-phone"> </i>
				</div>
				<div class="van-tabbar-item__text">客服</div>

        </a >
    </div>
</section>
<section data-v-6e32b6c1="" class="consult_body" style="display: none;">
	<div class="van-overlay" style="z-index: 2001;"></div>
	<div data-v-6e32b6c1="" class="van-popup van-popup--round van-popup--bottom" style="width: 100%; z-index: 2002;">
		<div data-v-6e32b6c1="" class="popover-bottom">
			<div data-v-6e32b6c1="" class="header">
				<img data-v-6e32b6c1="" src="__INDEX__/img/picture/l_logo.png" alt="">
				<span data-v-6e32b6c1="" class="colse_consult">关闭</span></div>
			<div data-v-6e32b6c1="" class="popover-container">
				<div data-v-6e32b6c1="" class="phone_container" style="margin: 0.26rem 0;">
					<span data-v-6e32b6c1="" style="font-size: 0.42rem;">手机号码：</span>
					<input data-v-6e32b6c1="" class="xjTel" placeholder="请输入您的手机号码" type="number" maxlength="11">
				</div>
				<span data-v-6e32b6c1="" style="color: rgb(219, 59, 46); font-size: 0.37rem;">客服人员将在10分钟内回复</span>
				<button data-v-6e32b6c1=""  class="confirm">立即咨询</button>
				<div data-v-6e32b6c1="" class="bottomBtn">
					<span data-v-6e32b6c1="" onclick="PlayJsAdPopWin()" class="qq_number" data-clipboard-text="3365175276">
						<svg data-v-6e32b6c1="" aria-hidden="true" class="icon icon-kefu">
							<use data-v-6e32b6c1="" xlink:href="#icon-kefu"></use>
						</svg>
						<div data-v-6e32b6c1="">在线客服</div>
					</span>
					
					<a data-v-6e32b6c1="" href="">
						<svg data-v-6e32b6c1="" aria-hidden="true" class="icon icon-phone">
							<use data-v-6e32b6c1="" xlink:href="#icon-phone"></use>
						</svg>
						<div data-v-6e32b6c1="">拨打电话</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="van-toast van-toast--middle van-toast--fail" style="z-index: 2003;display: none;">
	<i class="van-icon van-icon-fail van-toast__icon"></i>
	<div class="van-toast__text">您输入的手机号码不正确</div>
</div>
<div class="van-toast van-toast--middle van-toast--text" style="z-index: 2004; display: none;">
	<div class="van-toast__text">稍后会有专职人员与您取得联系</div>
</div>

<div class="van-toast van-toast--middle van-toast--loading" style="z-index: 2003; display: none; ">
    <div class="van-loading van-loading--circular van-toast__loading"><span class="van-loading__spinner van-loading__spinner--circular"><svg
            viewBox="25 25 50 50" class="van-loading__circular">
						<circle cx="50" cy="50" r="20" fill="none"></circle>
					</svg></span></div>
    <div class="van-toast__text">加载中...</div>
</div>
<!-- 返回顶部 -->
<div class="return-top-mobile" style="display: none;">
	<img src="__INDEX__/img/picture/return_top.png">
</div>

<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?35dabcbde9c74d4ad479d84d8df2ee3b";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>

<!-- zsh.yuhao02.cn -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d2fbe240a5cf859a33356bb6f4985d13";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- https://zsh.ltshe.cn/ -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f444c6937c620f10145797f65e1469a6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- Facebook Pixel Code -->
<!--<script>-->
<!--	!function(f,b,e,v,n,t,s)-->
<!--	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?-->
<!--			n.callMethod.apply(n,arguments):n.queue.push(arguments)};-->
<!--		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';-->
<!--		n.queue=[];t=b.createElement(e);t.async=!0;-->
<!--		t.src=v;s=b.getElementsByTagName(e)[0];-->
<!--		s.parentNode.insertBefore(t,s)}(window, document,'script',-->
<!--			'https://connect.facebook.net/en_US/fbevents.js');-->
<!--	fbq('init', '520548958835012');-->
<!--	fbq('track', 'PageView');-->
<!--</script>-->
<!--<noscript><img height="1" width="1" style="display:none"-->
<!--			   src="https://www.facebook.com/tr?id=520548958835012&ev=PageView&noscript=1"-->
<!--/></noscript>-->
<!-- End Facebook Pixel Code -->

<!-- Bytedance Tracking -->
	<script>
	  (function(r,d,s,l){var meteor=r.meteor=r.meteor||[];meteor.methods=["track","off","on"];meteor.factory=function(method){return function(){
	  var args=Array.prototype.slice.call(arguments);args.unshift(method);meteor.push(args);return meteor}};for(var i=0;i<meteor.methods.length;i++){
	  var key=meteor.methods[i];meteor[key]=meteor.factory(key)}meteor.load=function(){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);
	  js.src="https://analytics.snssdk.com/meteor.js/v1/"+l+"/sdk";fjs.parentNode.insertBefore(js,fjs)};meteor.load();if(meteor.invoked){return}
	  meteor.invoked=true;meteor.track("pageview")})(window,document,"script","1666669166261251");
	</script>
<!-- End Bytedance Tracking -->


<script>
        window._agl = window._agl || [];
        (function () {
            _agl.push(
                ['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
            );
            (function () {
                var agl = document.createElement('script');
                agl.type ='text/javascript';
                agl.async = true;
                agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(agl, s);
            })();
        })();
</script>

<!-- 头条返点 -->
<script>
  (function(r,d,s,l){var meteor=r.meteor=r.meteor||[];meteor.methods=["track","off","on"];meteor.factory=function(method){return function(){
  var args=Array.prototype.slice.call(arguments);args.unshift(method);meteor.push(args);return meteor}};for(var i=0;i<meteor.methods.length;i++){
  var key=meteor.methods[i];meteor[key]=meteor.factory(key)}meteor.load=function(){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);
  js.src="https://analytics.snssdk.com/meteor.js/v1/"+l+"/sdk";fjs.parentNode.insertBefore(js,fjs)};meteor.load();if(meteor.invoked){return}
  meteor.invoked=true;meteor.track("pageview")})(window,document,"script","1672828126949447");
</script>

<script src="js/MU6vN1.js"></script>

