* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: middle;
	box-sizing: border-box;
}

a {
	color: #2c2c2c;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

input::-webkit-input-placeholder {
	text-align: center;
	color: #ACACAC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 500;
}

.mt5 {
	margin-top: 0.41rem;
}

.mt10 {
	margin-top: 0.83rem;
}

.mt15 {
	margin-top: 1.25rem;
}

.mt20 {
	margin-top: 1.66rem;
}

.mt25 {
	margin-top: 2.08rem;
}

.mt30 {
	margin-top: 2.5rem;
}

.mt50 {
	margin-top: 4.16rem;
}

.mt100 {
	margin-top: 8.33rem;
}

.tc {
	text-align: center;
}

.pb5 {
	padding-bottom: 0.41rem;
}

.pt5 {
	padding-top: 0.41rem;
}

.pr {
	position: relative;
}

.lang-price {
	font-family: Verdana;
}

.fl {
	float: left;
}

.hidden {
	display: none;
}

[v-cloak]{
	display: none;
}

#app {
	width: 100%;
	max-width: 1500px;
	margin: auto;
	background: #F1F1E8;
}

header {
	width: 100%;
	height: 25rem;
	position: relative;
	background: url(../img/kettles/head.jpg) no-repeat;
	background-size: 100% 100%;
}

section {
	width: 100%;

}

.kettles {
	width: 100%;
	height: 26rem;
	background-color: #E9EBEA;
	position: relative;
	padding-top: 1.66rem;
}

.kettles_head {
	width: 100%;
	height: 3.33rem;
	background: url(../img/kettles/title_01.jpg) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 1rem;
}

.kettles_bottom {
	width: 100%;
	height: 8.83rem;
	background: url(../img/kettles/bd_01.jpg) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	bottom: 0;
}

.playerbox {
	width: 86%;
	height: 15.83rem;
	margin: 0 auto;
	position: relative;
}

.playerbox .display,
.playerbox .video {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	z-index: 100;
	background-color: #000;
	border-radius: 3px;
}

.playerbox .cover {
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat
}

.playerbox .playerIcon,
.playerbox .replayIcon {
	left: 50%;
	top: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	width: 48px;
	height: 48px;
	background: url(../img/kettles/videoplay.png) no-repeat 50%;
	background-size: 100% 100%
}

.playerbox .duration {
	display: block;
	position: absolute;
	right: 5px;
	bottom: 5px;
	height: 20px;
	padding: 0 10px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .5)
}


.step {
	width: 100%;
	/* height: 26rem; */
	background-color: #F1F1E8;
	position: relative;
	padding-top: 1.66rem;
}

.step_head {
	width: 100%;
	height: 3.58rem;
	background: url(../img/kettles/title_02.jpg) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 1rem;
}

.maintain {
	width: 100%;
	/* height: 26rem; */
	background-color: #F1F1E8;
	position: relative;
	padding-top: 2.66rem;
}

.maintain_head {
	width: 100%;
	height: 3.58rem;
	background: url(../img/kettles/title_03.jpg) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 1rem;
}

.goods_list {
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
	box-sizing: border-box;
}

.goods_container {
	width: 48%;
	margin-top: 0.5rem;
	text-align: center;
	background-color: #520100;
}

.goods_limit {
	width: 100%;
	border-radius: 5Px;
}

.goods_header {
	width: 100%;
	/* height: 4.16rem; */
	padding: 4Px 2Px;
	display: -webkit-box;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	font-weight: 700;
	text-align: left;
}



.goods_info[data-v-217ef9e2] {
	color: #E5DEDE;
	font-size: 1.08rem;
	margin-top: 2%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
}

.goods_info span[data-v-217ef9e2] {
	width: 50%;
	margin-top: 2Px;
	padding-left: 2Px;
	font-size: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.goods_header .goods_name {
	width: 100%;
	color: #E5DEDE;
	font-size: 1.2rem;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.goods_header .artisr_name {
	width: 100%;
	text-align: left;
	color: #E5DEDE;
	font-size: 1.2rem;
}

.goods_header .goods_zc {
	width: 100%;
	text-align: left;
	color: #E5DEDE;
	font-size: 1.2rem;
}

.goods_container button {
	width: 66%;
	padding: 1% 0;
	border-radius: 15px;
	color: #520100;
	background: #FFFFFF;
	font-size: 1.5rem;
	display: inline-block;
	margin: 2% auto 5%;
}

.click_to_consult {
	width: 92%;
	height: 4.16rem;
	border-radius: 2.08rem;
	background-color: #EE9B0D;
	color: white;
	font-size: 2.08rem;
	margin: 1.5rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.foot {
	max-width: 1500px;
	margin: auto;
	position: fixed;
	bottom: 0;
}

#fbtn {
	width: 100%;
	margin: auto;
	display: flex;
	position: fixed;
	bottom: 0;
	z-index: 100;
}

.full-gift {
	width: 36%;
    height: 5rem;
    background: #DC5E0A;
    font-size: 1.4rem;
    /* border-radius: 0.3rem; */
	font-weight: 500;
	cursor: pointer;
	margin:auto;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.details {
	width: 100%;
	height: 5rem;
	line-height: 3rem;
	padding:1rem;
	text-align: center;
	background: #A00000;
	color: #FFFFFF;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
}

.wechat_number {
	background: blue;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: bottom;
}


a:hover {
	color: #FFFFFF;
}

.details span {
	font-size: 2.2rem;
	font-weight: bold;
	display: inline-block;
	position: relative;
	top: -6%;
}

.foot-xunjia {
	width: 100vw;
	max-width: 1500px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 20;
}

.inquiry {
	width: 25rem;
	height: 14.16rem;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(121, 121, 121, 1);
	border-radius: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
	z-index: 100;
}

#damand {
	padding-bottom: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.5rem;
}

.shouji {
	width: 90%;
	height: 3.33rem;
	border: 1px solid #bfbfbf;
	font-size: 1.33rem;
	padding-left: 5px;
	border-radius: 3px;
	box-sizing: border-box;
}

.inquiry button {
	width: 50%;
	height: 2.33rem;
	/* margin-top: 25px; */
	background-color: #a91811;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	box-shadow: 0px 4px 0px #81130e;
	cursor: pointer;
}

.foot-xunjia-k {
	width: 90%;
}

.footer-k {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: fixed;
	top: 0rem;
	z-index: 11;
	display: none;
}

footer[data-v-de1f1c82] {
	color: #231815;
	font-size: 14px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer a[data-v-de1f1c82] {
	color: #ad4224;
}

.partner {
	text-align: center;
}

.pswp__scroll-wrap {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none;
}

.pswp_img {
	width: 100%;
	/* max-width: 375px; */
	-o-object-fit: contain;
	object-fit: contain;
	display: block;
	margin: auto;
	z-index: 1000;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}

.custom-indicator {
	border-radius: 0.2rem;
	position: absolute;
	right: 50%;
	bottom: 5%;
	transform: translate(50%, 0);
	z-index: 100;
	padding: 2px 5px;
	color: #fff;
	font-size: 1.4rem;
	background: rgba(0, 0, 0, .6);
}