.mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

#rule div {
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	background: #DF3121;
	padding: 30px 0;
}

#rule div h2 {
	font-size: 32px;
	color: #fdf44c;
	text-align: center;
}

#rule div p {
	font-size: 1.33rem;
	padding: 30px 30px 0 30px;
	color: #ffffcc;
}

#rule div p span {
	display: inline-block;
	padding: 3px 0;
}

#win div {
	width: 450px;
	height: 683px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	background: url('../img/turntable/u16.png');
}

#win div h2 {
	color: #fdf44c;
	position: absolute;
	left: 148px;
	top: 119px;
}

#win div p {
	font-size: 16px;
	color: #fff;
	padding: 180px 10px 0 10px;
}

#win div p span {
	display: inline-block;
	padding: 5px 0;
}

.a_prize {
	background: url("../img/turntable/u31.png");
}

.a_share {
	background: url("../img/turntable/u33.png");
}

#awards div {
	width: 300px;
	height: 290px;
	text-align: center;
	background: url("../img/turntable/u12.png");
	position: fixed;
	left: 50%;
	top: 50%;
	z-index:100;
	transform: translate(-50%, -50%);
}

#awards h3 {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	padding: 54px 10px 10px 10px;
}

#awards input {
	width: 250px;
	height: 30px;
	text-align: center;
	border: 0;
	margin: 5% 0 5px 0;
	font-size: 15px;
}

#awards a {
	display: inline-block;
	color: #fff;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	margin-top: 5%;
}

#awards p {
	color: #fff;
	font-size: 16px;
	margin: 10px;
}

#share div {
	width: 300px;
	height: 290px;
	background: url("../img/turntable/u12.png");
	position: absolute;
	left: 169px;
	top: 142px;
	text-align: center;
}

#share h3 {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	padding: 88px 10px 10px 10px;
}

#share a {
	display: inline-block;
	color: #fff;
	width: 100px;
	height: 30px;
}

/* 页面 css */
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1 {
	width: 900px;
	margin: 40px auto;
	font: 32px "Microsoft Yahei";
	text-align: center;
}

/* demo css */
.choujiang {
	width: 100%;
	height: 100vw;
	position: relative;
	margin: 2rem auto;
	background: url(../img/turntable/activity-lottery.gif)no-repeat;
	background-size: 100% 100%;
	display: flex;
}


#plateBtn {

	width: 173px;
	height: 173px;
	background-image: url(../img/turntable/activity-lottery-22.png);
	text-indent: -9999px;
	overflow: hidden;
	margin: auto;
	/* position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
}

#result {
	display: none;
	position: absolute;
	left: 99px;
	top: 169px;
	width: 300px;
	height: 120px;
	background-color: rgba(0, 0, 0, 0.75);
	filter: alpha(opacity=90);
}

#result a {
	color: #ff0000;
}

#resultTxt {
	padding: 45px 15px 0;
	font: 16px "Microsoft Yahei";
	color: #fff;
	text-align: center;
}

#resultTxt em {
	color: #ffea76;
	font-style: normal;
}

#resultBtn {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 25px;
	height: 25px;
	text-indent: -100px;
	background-image: url(../img/turntable/close.png);
	overflow: hidden;
}

#musicbtn {
	float: right;
	background: url(../img/turntable/yinyu.png) no-repeat;
	width: 44px;
	height: 44px;
	display: block;
	padding-top: 5px
}
