<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- 删除默认的苹果工具栏和菜单栏 -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 控制状态栏显示样式 -->
		<title>宜兴紫砂壶官网</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/Swiper/4.5.0/css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="css/kettles.css" />
		<script src="https://cdn.staticfile.org/jquery/3.5.0/jquery.min.js"></script>
		<script src="js/rem.js"></script>
		
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?35dabcbde9c74d4ad479d84d8df2ee3b";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
		<main id="app">
			<header></header>
			<div class="kettles">
				<div class="kettles_head">
				</div>
				<div class="playerbox " key="2">
					<div v-if="!paly" class="display" style="background:  url(img/kettles/video_start.png) no-repeat;background-size: 100% 100%;">
						<div class="cover">
							<span class="playerIcon" @click="paly = !paly"></span>
							<span class="duration">01:06</span>
						</div>
					</div>
					<video v-else src="img/kettles/kettles.mp4" class="video " webkit-playsinline="true" x5-playsinline="true" playsinline  controls autoplay></video>

				</div>
				<div class="kettles_bottom">
				</div>
			</div>
			<div class="step">
				<div class="step_head">
					<!-- <img src="img/kettles/title_02.jpg" > -->
				</div>
				<main class="mt10">
					<img src="img/pot/pseudo_graph.jpg" data-original="img/kettles/step_02.jpg" class="lazy">
				</main>
				<main class="mt15">
					<img src="img/pot/pseudo_graph.jpg" data-original="img/kettles/step_04.jpg" class="lazy">
				</main>
				<main class="mt30">
					<img src="img/pot/pseudo_graph.jpg" data-original="img/kettles/step_06.jpg" class="lazy">
				</main>
			</div>
			<div class="maintain">
				<div class="maintain_head">
					<!-- <img src="img/kettles/title_02.jpg" > -->
				</div>
				<main class="mt10" style="padding: 0 1rem;">
					<img src="img/pot/pseudo_graph.jpg" data-original="img/kettles/maintain_12.jpg" class="lazy">
				</main>
				<main class="mt15">
					<img src="img/pot/pseudo_graph.jpg" data-original="img/kettles/maintain_15.jpg" class="lazy">
				</main>
				<div class="click_to_consult" @click="inquiry('更多养壶知识',1)"><span>更多养壶知识 点击获取</span></div>
				<main class="">
					<img src="img/pot/pseudo_graph.jpg" data-original="img/kettles/maintain_18.jpg" class="lazy">
				</main>
			</div>

			<section class="mt20">
				<img src="img/pot/pseudo_graph.jpg" class="lazy" data-original="img/kettles/title_04.jpg">

				<div class="goods_list mt10">
					<div class="goods_container" v-for="(item,index) in goods" :key="index">
						<img alt="" :src="item.img" class="goods_limit" @click="details(index)">
						<div class="goods_header">
							<span class="goods_name" style="width: 100%;">{{item.goods_name}}</span>
							<div data-v-217ef9e2="" class="goods_info">
								<span data-v-217ef9e2="">作者:{{item.artist_name}} </span> <span data-v-217ef9e2="">职称:{{item.title}}</span>
								<span data-v-217ef9e2="" :title="item.slurry">泥料：{{item.slurry}}</span> <span data-v-217ef9e2="">容量:{{item.capacity}}</span>
							</div>
						</div>
						<button class="consult2" @click="inquiry(item)">点击询价</button>
					</div>

				</div>

			</section>

			<div class="click_to_consult" @click=" window.location.href='/' "><span>没有喜欢壶型 获取更多产品</span></div>
			<footer data-v-de1f1c82="" data-v-7a7d1ec7="">
				<p class="partner ">
					©{{company}} 版权所有 <br></p>
			</footer>
			<footer class="foot mt30 pr">
				<div class="foot-xunjia">
					<div class="inquiry">
						<div id="damand"> 咨询{{submit_information.artist_name}}【{{submit_information.goods_name}}】价格</div>
						<input type="text" class="shouji" placeholder="请输入手机号码" value="" name="xjTel" id="xjTel" maxlength="11">
						<button @click="onClickXunjia()">点击提交</button>
						<span data-v-6e32b6c1="" style="color: rgb(219, 59, 46); font-size: 1.1rem;">客服人员将在10分钟内回复</span>
					</div>

					<div class="footer-k" @click="close()"> </div>
				</div>
			</footer>
			<div style="width: 100%; height: 6rem;"></div>

			<!-- 图片整屏展示 -->
			<div class="pswp__scroll-wrap " id="swiper">
				<div class="pswp_img swiper-container ">
					<div class="swiper-wrapper">
					</div>
					<div class="custom-indicator" data-v-1c281437>
						<span class="realIndex">1</span>/<span class="total"></span>
					</div>

				</div>
			</div>
		
		</main>
	
	<script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
	<script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
	<script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
	<script src="https://cdn.staticfile.org/Swiper/4.5.0/js/swiper.min.js"></script>
	<script src="js/do.js" type="application/javascript"></script>
	<script src="js/kettles.js"></script>
	
	</body>
</html>
