<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="keywords" content="紫砂壶周边推荐，紫砂壶周边购买，茶叶，宜兴紫砂壶，紫砂壶中天">
		<meta name="description" content="紫砂壶中天是专业的紫砂壶门户网站，从事紫砂壶相关服务已有十多年，旨在服务各位壶友，提供具有特色的宜兴紫砂壶购买、收藏与投资等服务">
		<meta name="copyright" content="紫砂壶中天">
		<title>茶宠_紫砂壶中天</title>
		<link rel="stylesheet" href="__INDEX__/css/style/cc9cbb9d0dd6b9ab414a.css">
		<link rel="stylesheet" href="__INDEX__/css/style/7c37c1f9cd04d16fbfdb.css">
		<link rel="stylesheet" href="__INDEX__/css/style/96e4362bd4539ba5294e.css">
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/common.css">
	</head>
	<body>
		<div id="app" v-cloak>

			<div data-server-rendered="true" id="__nuxt">
				<div id="__layout">
					<div style="max-width:750px;margin:0 auto;">
						<section class="container" data-v-cb1d9996>
							<div class="van-nav-bar van-hairline--bottom" style="z-index:1;" data-v-d09b833a data-v-d09b833a data-v-cb1d9996>
								<div class="van-nav-bar__left" data-v-d09b833a data-v-d09b833a>
									<i class="van-icon van-icon-arrow-left van-nav-bar__arrow" data-v-d09b833a data-v-d09b833a></i>
									<span class="van-nav-bar__text" data-v-d09b833a data-v-d09b833a>返回</span>
								</div>
								<div class="van-nav-bar__title van-ellipsis" data-v-d09b833a data-v-d09b833a>茶宠</div>
								<div class="van-nav-bar__right" data-v-d09b833a data-v-d09b833a onclick="window.location.href='/'">
									<span class="van-nav-bar__text" data-v-d09b833a data-v-d09b833a>首页</span>
								</div>
							</div>
							<div class="van-swipe" data-v-cb1d9996>
								<div class="van-swipe-item" style="width:100%;height:100%;transform:translateX(0px);" data-v-cb1d9996>
									<a data-v-cb1d9996>
										<img src="http://static.sxzisha.com/UploadFiles/PictureFiles/紫砂周边_2020_01_19_10_29.png" alt="" style="width:100%;"
										 data-v-cb1d9996>
									</a>
								</div>
							</div>
							<div data-v-cb1d9996>
								<div class="van-sticky">
									<div class="van-tabs van-tabs--line" data-v-cb1d9996>
										<div data-v-cb1d9996="" class="van-tabs van-tabs--line">
											<div class="van-tabs__wrap van-tabs__wrap--scrollable van-hairline--top-bottom">
												<div role="tablist" class="van-tabs__nav van-tabs__nav--line" style="border-color: rgb(221, 128, 26); background: rgb(255, 255, 255);">
													<div role="tab" class="van-tab van-tab--active" data-id="0" style="flex-basis: 22%; color: rgb(102, 102, 102);">
														<span class="van-ellipsis">全部</span>
														<div class="van-tabs__line" style="width: 50%; "></div>
													</div>
													{volist name="cat" id="vo"}
													{volist name="$vo.cat_two" id="vv"}
													{volist name="$vv.cat_three" id="vvv"}
													<div role="tab" class="van-tab" style="flex-basis: 22%;" data-id="{$vvv.cat_id}">
														<span class="van-ellipsis">{$vvv.cat_name}</span>
														<div class="van-tabs__line" style="width: 50%; "></div>
													</div>
													{/volist}
													{/volist}
													{/volist}
												</div>
											</div>

										</div>

									</div>
									<div class="sort_container" data-v-cb1d9996>
										<ul data-v-cb1d9996>
											<li class="active" data-v-cb1d9996><span data-v-cb1d9996>最新</span></li>
											<li data-v-cb1d9996><span data-v-cb1d9996>人气</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div role="feed" class="van-list" data-v-cb1d9996>
								<ul class="clearfix" data-v-18cf6dfa="" data-v-6fc7e12e="">
									<!--{volist name="hotgoods" id="vo"}
									<li class="list__item" data-v-18cf6dfa="">
										<div style="padding:0px;width:100%;" data-v-217ef9e2="" data-v-18cf6dfa="">
											<a href="/goodsinfo?goodsid={$vo.id}" class="goods_avatar_container" data-v-217ef9e2="">
												<img data-v-217ef9e2="" alt="" class="goods_avatar" src="{$vo.img}">
											</a>
											<div style="margin-bottom: 10px;" data-v-217ef9e2="">
												<div class="goods_header" data-v-217ef9e2="">
													<span class="goods_name" data-v-217ef9e2="">{$vo.name}</span>
													<button class="btn_qry"  data-v-217ef9e2="">询价</button>
												</div>
												<div class="goods_info" data-v-217ef9e2="">
													<span data-v-217ef9e2="">作者:{$vo.people_name}</span> <span data-v-217ef9e2="">编号:{$vo.goods_no}</span>
													<span data-v-217ef9e2="">泥料:{$vo.mud_name}</span> <span class="hidden" data-v-217ef9e2="">容量:{$vo.capacity_name}</span>
												</div>
											</div>
										</div>
									</li>
									{/volist}-->
									<li class="list__item" data-v-18cf6dfa="" v-for="item in goods">
										<div style="padding:0px;width:100%;" data-v-217ef9e2="" data-v-18cf6dfa="">
											<a :href="'/goodsinfo?goodsid='+item.id" class="goods_avatar_container" data-v-217ef9e2="">
												<img data-v-217ef9e2="" alt="" class="goods_avatar" v-lazy="item.img">
											</a>
											<div style="margin-bottom: 10px;" data-v-217ef9e2="">
												<div class="goods_header" data-v-217ef9e2="">
													<span class="goods_name" data-v-217ef9e2="">{{item.name}}</span>
													<button class="btn_qry"  @click="inquiry(item.name,item.people_name,item.capacity_name,item.id)" data-v-217ef9e2="">询价</button>
												</div>
												<div class="goods_info" data-v-217ef9e2="">
													<span data-v-217ef9e2="">作者:{{item.people_name}}</span> <span data-v-217ef9e2="">编号:{{item.goods_no}}</span>
													<span data-v-217ef9e2="">泥料:{{item.mud_name}}</span> <span data-v-217ef9e2="">容量:{{item.capacity_name == null ? 0 :  item.capacity_name}}cc</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
								<div class="van-list__placeholder"></div>
							</div>
						</section>
						<div class="van-list__finished-text">没有更多了</div>

						{include file="public/bottom" /}
					</div>

					<script src="__INDEX__/lib/jquery/jquery.js"></script>
					<script src="__INDEX__/js/rem.js"></script>
					<script src="__INDEX__/lib/vue/vue.min.js"></script>
					<script src="__INDEX__/js/action/font_1534256_qc3ia182za.js"></script>
					<script src="__INDEX__/lib/swiper/swiper.min4.js"></script>
					<script src="__INDEX__/lib/vue/vue-lazyload.js"></script>
					<script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
					<script src="__INDEX__/js/common.js"></script>
					<script src="__INDEX__/js/ambitus.js"></script>

	</body>
</html>
