<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
		<meta name="keywords" content="紫砂壶名家，紫砂壶名师介绍，宜兴紫砂壶，紫砂壶中天">
		<meta name="description" content="紫砂壶中天是专业的紫砂壶门户网站，从事紫砂壶相关服务已有十多年，旨在服务各位壶友，提供具有特色的宜兴紫砂壶购买、收藏与投资等服务">
		<meta name="copyright" content="紫砂壶中天">
		<title>名家介绍_宜兴紫砂壶_紫砂壶中天</title>
		<link rel="stylesheet" href="__INDEX__/css/style/3187c1fbb4b739e498e5.css">
		<link rel="stylesheet" href="__INDEX__/css/style/9d9896ea9a96013187ab.css">
		<link rel="stylesheet" href="__INDEX__/css/style/5821d16a615f997c7cbf.css">
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/common.css" />
		<style>
				.more_goods .title h2[data-v-0c97a771] {
					font-size: .426667rem;
					color: #a01e03;
					font-weight:bold;
				}
		</style>
	</head>
	<body>
		<div id="app">
			<div data-server-rendered="true" id="__nuxt">
				<div id="__layout">
					<div style="max-width:750px;margin:0 auto;">
						<section data-v-0c97a771>
							<div class="van-nav-bar van-hairline--bottom" style="z-index:1;" data-v-d09b833a data-v-d09b833a data-v-0c97a771>
								<div class="van-nav-bar__left" data-v-d09b833a data-v-d09b833a>
									<i class="van-icon van-icon-arrow-left van-nav-bar__arrow" data-v-d09b833a data-v-d09b833a></i>
									<span class="van-nav-bar__text" data-v-d09b833a data-v-d09b833a>返回</span>
								</div>
								<div class="van-nav-bar__title van-ellipsis" data-v-d09b833a data-v-d09b833a>{$artistlist.cat_name}</div>
								<div class="van-nav-bar__right" data-v-d09b833a data-v-d09b833a>
									<span class="van-nav-bar__text" data-v-d09b833a data-v-d09b833a>首页</span>
								</div>
							</div>
							<div class="artist_header" data-v-0c97a771>
								<img alt="" class="avatar" data-v-0c97a771 src="{$artistlist.img}">
								<div class="artist_info" data-v-0c97a771>
									<b style="font-size: 18px;" data-v-0c97a771>{$artistlist.cat_name}</b>
									<p class="artist_zc" data-v-0c97a771>{$artistlist.position}</p>
								</div>
							</div>
							<div class="artist_des_container" data-v-0c97a771>
								<div class="artist_des" data-v-0c97a771 style="height: 50px;">
									<div data-v-0c97a771>
										<p style="text-indent:1em;">
											<strong>职称</strong>：
											<strong>
												<span style="color:#E56600;">
													<span style="font-weight:700;color:#666666;font-family:Simsun;font-size:13px;background-color:#EDE9DE;">
														<span style="font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline;color:#E56600;">{$artistlist.position}</span>
													</span>
												</span>
											</strong>
										</p>
<!--										<p style="text-indent:1em;">-->
<!--											<strong>{$artistlist.cat_name}</strong>，<strong><a href="" target="_blank">紫砂壶</a></strong>-->
<!--											艺人、陶瓷艺人、工艺师-->
<!--										</p>-->
<!--										<p style="text-indent:1em;">-->
<!--											<span style="line-height:1.5;">国家高级工艺美术师</span>-->
<!--										</p>-->
<!--										<p style="text-indent:1em;"> 江苏省陶瓷艺术大师 </p>-->
<!--										<p class="MsoNormal" style="text-indent:1em;">-->
<!--											<span>首届景舟杯金奖得主</span> &nbsp;-->
<!--										</p>-->
<!--										<p style="text-indent:1em;"> 无锡市有突出贡献的中青年专家 </p>-->
<!--										<p style="text-indent:1em;"> 无锡市十大杰出青年 </p>-->
<!--										<p style="text-indent:1em;"> 陶都宜兴十佳青年陶艺家 </p>-->
<!--										<p style="text-indent:1em;"> 宜兴市丁蜀镇青年陶艺家联谊会会长 </p>-->
<!--										<p style="text-indent:1em;"> 宜兴市学术技术带头人 </p>-->
<!--										<p style="text-indent:1em;"> 陶都宜兴制壶名人 </p>-->
<!--										<p style="text-indent:1em;"> 龙德堂陶艺创始人 </p>-->
										<p class="MsoNormal"> <br /> </p>
										<p style="text-indent:1em;">
<!--											<span>范泽锋，又名哲丰，字文成，1976年生于宜兴陶艺世家，2018年研高，江苏省陶瓷艺术大师(2016年-->
<!--												第二届)，首届“景舟杯”金奖得主，师从省大师范伟群、高工张庆臣、国大师鲍志强。1993年于江苏省丁蜀职业学校紫砂工艺专业班学习毕业。作品以光素精雕艺术见长，其作品多次参加国内外展览屡获大奖。<br /> <br />-->
<!--												&nbsp;&nbsp;&nbsp;&nbsp;1994年起从事紫砂陶艺创作设计。他所创作的作品可谓具有“精八级，心游万仞、对物通神”的灵感和想象力，造型张弛得度，肖形状物，理趣皆备。在紫砂壶艺的创造过程中，把中国传统文化融合于紫砂作品，尤其把佛文化融合的相得益彰。<br />-->
<!--												2002年，范泽锋在中国工艺美术造型设计进修班学习结业。<br /> <br />-->
<!--												&nbsp;&nbsp;&nbsp;&nbsp;作品分别获第一届中国陶瓷艺术展中陶方圆杯银奖，第五届、十五届中国工艺美术大师优秀作品评选金奖，荣获2012创新盛典中国创新设计评选最佳创意奖，首届江苏省陶瓷艺术作品展评金奖，第十届全国陶瓷艺术设计创新评比银奖，第八届中国宜兴国际陶瓷文化艺术节“景舟杯”制壶大赛金奖。并被中南海、中国人民革命军事博物馆、中国现代文学馆、中国首都博物馆、周恩来邓颖超纪念馆等多家艺术团体和个人收藏。<br />-->
<!--												<br /> &nbsp;&nbsp;&nbsp;&nbsp;曾多次应邀前往英国、韩国、日本、新加坡等陶艺交流。<br />-->
<!--											</span>-->
											<span>
												{$artistlist.description}
											</span>
										</p>
										<p> <br /> </p>
										<p> <br /> </p>
									</div>
								</div>
								<div class="artist_collpse" data-v-0c97a771 @click="collpse">
									<svg aria-hidden="true" class="icon icon-Arrowdown" data-v-0c97a771 v-if="more">
										<use xlink:href="#icon-Arrowdown" data-v-0c97a771></use>
									</svg>
									<svg data-v-0c97a771="" aria-hidden="true" class="icon icon-Arrowup" v-else>
										<use data-v-0c97a771="" xlink:href="#icon-Arrowup"></use>
									</svg>
								</div>
							</div>
							<div class="split" data-v-0c97a771></div>
							<div role="feed" class="van-list" data-v-0c97a771>
								<div class="more_goods" data-v-0c97a771>
									<div class="title" data-v-0c97a771>
										<h2 data-v-0c97a771>代表作品</h2>
									</div>
									<ul class="clearfix" data-v-18cf6dfa="" data-v-6fc7e12e="">
										{volist name="goods" id="vo"}
										<li class="list__item" data-v-18cf6dfa="">
											<div style="padding:0px;width:100%;" data-v-217ef9e2="" data-v-18cf6dfa="">
												<a href="/goodsinfo?goodsid={$vo.id}" class="goods_avatar_container" data-v-217ef9e2="">
													<img data-v-217ef9e2="" alt="" class="goods_avatar" src="{$vo.img}">
												</a>
												<div style="margin-bottom: 10px;" data-v-217ef9e2="">
													<div class="goods_header" data-v-217ef9e2="">
														<span class="goods_name" data-v-217ef9e2="">{$vo.name}</span>
														<button class="btn_qry" data-v-217ef9e2="">询价</button>
													</div>
													<div class="goods_info" data-v-217ef9e2="">
														<span data-v-217ef9e2="">作者:{$vo.people_name}</span> <span data-v-217ef9e2="">编号:{$vo.goods_no}</span>
														<span data-v-217ef9e2="">泥料:{$vo.mud_name}</span> <span data-v-217ef9e2="">容量:{$vo.capacity_name}</span>
													</div>
												</div>
											</div>
										</li>
										{/volist}
										<li class="list__item" data-v-18cf6dfa="" v-for="item in goods">
											<div style="padding:0px;width:100%;" data-v-217ef9e2="" data-v-18cf6dfa="">
												<a href="/shop/product/2816?type=1" class="goods_avatar_container" data-v-217ef9e2="">
													<img data-v-217ef9e2="" alt="" class="goods_avatar" :src="item.Portrait">
												</a>
												<div style="margin-bottom: 10px;" data-v-217ef9e2="">
													<div class="goods_header" data-v-217ef9e2="">
														<span class="goods_name" data-v-217ef9e2="">玉佩壶</span>
														<button class="btn_qry" data-v-217ef9e2="">询价</button>
													</div>
													<div class="goods_info" data-v-217ef9e2="">
														<span data-v-217ef9e2="">作者:{{item.Name}}</span> <span data-v-217ef9e2="">编号:41001</span>
														<span data-v-217ef9e2="">泥料:红泥</span> <span data-v-217ef9e2="">容量:260cc</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="van-list__placeholder"></div>
							</div>
							<div class="van-list__finished-text">没有更多了</div>
						</section>
						 {include file="public/bottom" /}
					</div>
				</div>
			</div>
		</div>
		
		<script src="__INDEX__/lib/jquery/jquery.js"></script>
		<script src="__INDEX__/js/rem.js"></script>
		<script src="__INDEX__/lib/vue/vue.min.js"></script>
		<script src="__INDEX__/js/action/font_1534256_qc3ia182za.js"></script>
		<script src="__INDEX__/lib/swiper/swiper.min4.js"></script>
		<script src="__INDEX__/js/common.js"></script>
		<script src="__INDEX__/js/artist_detail.js"></script>

	</body>
</html>
