<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="keywords" content="紫砂壶周边推荐，紫砂壶周边购买，茶叶，宜兴紫砂壶，紫砂壶中天">
		<meta name="description" content="紫砂壶中天是专业的紫砂壶门户网站，从事紫砂壶相关服务已有十多年，旨在服务各位壶友，提供具有特色的宜兴紫砂壶购买、收藏与投资等服务">
		<meta name="copyright" content="紫砂壶中天">
		<title>宜兴紫砂壶_紫砂壶中天</title>
		<link rel="stylesheet" href="__INDEX__/css/style/8d9b0e645fdb945bc6c1.css">
		<link rel="stylesheet" href="__INDEX__/css/style/cc9cbb9d0dd6b9ab414a.css">
		<link rel="stylesheet" href="__INDEX__/css/style/7c37c1f9cd04d16fbfdb.css">
		<link rel="stylesheet" href="__INDEX__/css/style/7723a3d357ed6b5ed9e6.css">
		<link rel="stylesheet" type="text/css" href="__INDEX__/css/common.css">
		<style type="text/css">
			.van-tab--active {
				color: #000000 !important;
				font-weight: 500;
			}

			.bg_container .menu_container li[data-v-326f400f] {
				color: #9b9b9b
			}
		</style>
	</head>
	<body>
		<!-- 搜索弹窗 -->
		<form action="search">
			<section data-v-87207564="" class="search_page">
				<div data-v-87207564="" class="search_navbar">
					<i data-v-87207564="" class="left van-icon van-icon-arrow-left" style="color: rgb(17, 17, 17);"> </i>
					<div data-v-87207564="" class="search_container">
						<svg data-v-87207564="" aria-hidden="true" class="icon icon-search">
							<use data-v-87207564="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-Search"></use>
						</svg>
						<input data-v-87207564="" type="search" name="search" maxlength="20" placeholder="正宗宜兴紫砂壶" class="search-input">
					</div>
					<button data-v-87207564="" class="searchBtn">搜索</button>
				</div>

				<div data-v-87207564="" class="title"><span data-v-87207564="">热门搜索</span></div>
				<ul data-v-87207564="" class="filter_maintain_all">
					<li data-v-87207564="">邵美华</li>
					<li data-v-87207564="">常月红</li>
					<li data-v-87207564="">吴文彩</li>
					<li data-v-87207564="">白洪欣</li>
					<li data-v-87207564="">吴余生</li>
					<li data-v-87207564="">刘如明</li>
					<li data-v-87207564="">程新凤</li>
					<li data-v-87207564="">曹志刚</li>
					<li data-v-87207564="">王镇学</li>
				</ul>
			</section>
		</form>
		<div id="app" v-cloak>
			<div data-server-rendered="true" id="__nuxt">
				<div id="__layout">
					<div style="max-width:750px;margin:0 auto;">
						<section class="container" data-v-326f400f>
							<section data-v-e07e0280 data-v-326f400f>
								<div class="search_navbar" data-v-e07e0280>
									<i onclick="window.history.back();" class="left van-icon van-icon-arrow-left" style="color:#fff;"
									 data-v-e07e0280 data-v-e07e0280></i>
									<div class="search_container" data-v-e07e0280>
										<svg aria-hidden="true" class="icon icon-search" data-v-e07e0280>
											<use xlink:href="#icon-Search" data-v-e07e0280></use>
										</svg>
										<input type="text" name maxlength="20" placeholder="正宗紫砂壶" data-v-e07e0280 class="search_input">

									</div>
									<a href="/" class="btn_home nuxt-link-active" data-v-e07e0280>
										首页
									</a>
								</div>
							</section>



							<div class="bg_container" data-v-326f400f>
								<ul class="menu_container" data-v-326f400f>
									<li data-v-326f400f class="van-tab--active">紫砂藏品</li>
									<li data-v-326f400f>瓷器藏品</li>
									<li data-v-326f400f>铁壶藏品</li>
									<li data-v-326f400f>银壶藏品</li>
								</ul>
								<div class="sort_container" data-v-326f400f>
									<ul data-v-326f400f>
										<li class="active" data-v-326f400f><span data-v-326f400f>最新</span></li>
										<li data-v-326f400f><span data-v-326f400f>人气</span></li>
										<li data-v-326f400f><span data-v-326f400f>已结缘</span></li>
									</ul>
								</div>
								<!-- 紫砂藏品-->
								<div role="feed" class="van-list" data-v-326f400f>
									<ul class="clearfix" data-v-18cf6dfa="" data-v-6fc7e12e="">

										<!-- 										{volist name="hotgoods" id="vo"}
										<li class="list__item" data-v-18cf6dfa="">
											<div style="padding:0px;width:100%;" data-v-217ef9e2="" data-v-18cf6dfa="">
												<a href="/goodsinfo?goodsid={$vo.id}" class="goods_avatar_container" data-v-217ef9e2="">
													<img data-v-217ef9e2="" alt="" class="goods_avatar" src="{$vo.img}">
												</a>
												<div style="margin-bottom: 10px;" data-v-217ef9e2="">
													<div class="goods_header" data-v-217ef9e2="">
														<span class="goods_name" data-v-217ef9e2="">{$vo.name}</span>
														<button class="btn_qry" data-v-217ef9e2="">询价</button>
													</div>
													<div class="goods_info" data-v-217ef9e2="">
														<span data-v-217ef9e2="">作者:{$vo.people_name}</span> <span data-v-217ef9e2="">编号:{$vo.goods_no}</span>
														<span data-v-217ef9e2="">泥料:{$vo.mud_name}</span> <span data-v-217ef9e2="">容量:{$vo.capacity_name}</span>
													</div>
												</div>
											</div>
										</li>
										{/volist} -->

										<li class="list__item" data-v-18cf6dfa="" v-for="item in goods">
											<div style="padding:0px;width:100%;" data-v-217ef9e2="" data-v-18cf6dfa="">
												<a :href="'/goodsinfo?goodsid='+item.id" class="goods_avatar_container" data-v-217ef9e2="">
													<img data-v-217ef9e2="" alt="" class="goods_avatar" :src="item.img">
												</a>
												<div style="margin-bottom: 10px;" data-v-217ef9e2="">
													<div class="goods_header" data-v-217ef9e2="">
														<span class="goods_name" data-v-217ef9e2="">{{item.name}}</span>
														<button class="btn_qry" @click="inquiry(item)" data-v-217ef9e2="">询价</button>
													</div>
													<div class="goods_info" data-v-217ef9e2="">
														<span data-v-217ef9e2="">作者:{{item.people_name}}</span> <span data-v-217ef9e2="">编号:{{item.goods_no}}</span>
														<span data-v-217ef9e2="">泥料:{{item.mud_name}}</span> <span data-v-217ef9e2="">容量:{{item.capacity_name}}</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<div class="van-list__placeholder"></div>
								</div>
								<!-- 瓷器藏品 -->
								<div role="feed" class="van-list hidden" data-v-326f400f>
									<ul class="clearfix" data-v-18cf6dfa="" data-v-6fc7e12e="">

										<li class="list__item" data-v-18cf6dfa="" v-for="item in goods">
											<div style="padding:0px;width:100%;" data-v-217ef9e2="" data-v-18cf6dfa="">
												<a :href="'/goodsinfo?goodsid='+item.id" class="goods_avatar_container" data-v-217ef9e2="">
													<img data-v-217ef9e2="" alt="" class="goods_avatar" :src="item.img">
												</a>
												<div style="margin-bottom: 10px;" data-v-217ef9e2="">
													<div class="goods_header" data-v-217ef9e2="">
														<span class="goods_name" data-v-217ef9e2="">{{item.name}}</span>
														<button class="btn_qry"  @click="inquiry(item)" data-v-217ef9e2="">询价</button>
													</div>
													<div class="goods_info" data-v-217ef9e2="">
														<span data-v-217ef9e2="">瓷器</span> <span data-v-217ef9e2="">编号:{{item.goods_no}}</span>
														<span data-v-217ef9e2="">容量:{{item.capacity_name == null ? 0 :  item.capacity_name}}L</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<div class="van-list__placeholder"></div>
								</div>
								<!-- 铁壶藏品 -->
								<div role="feed" class="van-list hidden" data-v-326f400f>
									<ul class="clearfix" data-v-18cf6dfa="" data-v-6fc7e12e="">

										<li class="list__item" data-v-18cf6dfa="" v-for="item in goods">
											<div style="padding:0px;width:100%;" data-v-217ef9e2="" data-v-18cf6dfa="">
												<a :href="'/goodsinfo?goodsid='+item.id" class="goods_avatar_container" data-v-217ef9e2="">
													<img data-v-217ef9e2="" alt="" class="goods_avatar" :src="item.img">
												</a>
												<div style="margin-bottom: 10px;" data-v-217ef9e2="">
													<div class="goods_header" data-v-217ef9e2="">
														<span class="goods_name" data-v-217ef9e2="">{{item.name}}</span>
														<button class="btn_qry"  @click="inquiry(item)" data-v-217ef9e2="">询价</button>
													</div>
													<div class="goods_info" data-v-217ef9e2="">
														<span data-v-217ef9e2="">铁壶</span> <span data-v-217ef9e2="">编号:{{item.goods_no}}</span>
														<span data-v-217ef9e2="">材质:{{item.mud_name}}</span> <span data-v-217ef9e2="">容量:{{item.capacity_name == null ? 0 :  item.capacity_name}}L</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<div class="van-list__placeholder"></div>
								</div>
								<!-- 银壶藏品 -->
								<div role="feed" class="van-list hidden" data-v-326f400f>
									<ul class="clearfix" data-v-18cf6dfa="" data-v-6fc7e12e="">


										<li class="list__item" data-v-18cf6dfa="" v-for="item in goods">
											<div style="padding:0px;width:100%;" data-v-217ef9e2="" data-v-18cf6dfa="">
												<a :href="'/goodsinfo?goodsid='+item.id" class="goods_avatar_container" data-v-217ef9e2="">
													<img data-v-217ef9e2="" alt="" class="goods_avatar" :src="item.img">
												</a>
												<div style="margin-bottom: 10px;" data-v-217ef9e2="">
													<div class="goods_header" data-v-217ef9e2="">
														<span class="goods_name" data-v-217ef9e2="">{{item.name}}</span>
														<button class="btn_qry"  @click="inquiry(item)" data-v-217ef9e2="">询价</button>
													</div>
													<div class="goods_info" data-v-217ef9e2="">
														<span data-v-217ef9e2="">银壶</span> <span data-v-217ef9e2="">编号:{{item.goods_no}}</span>
														<span data-v-217ef9e2="">材质:{{item.mud_name}}</span> <span data-v-217ef9e2="">容量:{{item.capacity_name}}</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<div class="van-list__placeholder"></div>
								</div>
								<div class="van-list__finished-text">没有更多了</div>
							</div>
						</section>
						{include file="public/bottom" /}
					</div>
				</div>
			</div>
		</div>
		<div style="width: 100vw; height: 1.33rem; opacity: 0;"> 占位符 </div>
		<script src="__INDEX__/lib/jquery/jquery.js"></script>
		<script src="__INDEX__/js/rem.js"></script>
		<script src="__INDEX__/lib/vue/vue.min.js"></script>
		<script src="__INDEX__/js/action/font_1534256_qc3ia182za.js"></script>
		<script src="__INDEX__/lib/swiper/swiper.min4.js"></script>
		<script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
		<script src="__INDEX__/js/common.js"></script>
		<script src="__INDEX__/js/collection.js"></script>


	</body>
</html>
